@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @media (max-width: 768px) {
    padding-top: 4rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  } 
}

.cursor-x {
  cursor: not-allowed;
}

.cursor-x:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><text x='0' y='14' font-size='16' fill='currentColor'>✕</text></svg>") 8 8, auto;
}

.card {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.card img {
  flex-shrink: 0;
  max-height: 50%;
  object-fit: cover;
}

.card-content {
  flex-grow: 1;
  overflow-y: auto;
}